.ProTrackUI_root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: flex-start;
    pointer-events: none;
}

.ProTrackUI_panel {
    width: 50rem;
    justify-self: center;
    align-self: center;
    display: flex;
    position: fixed;
    top: 2.5rem;
    pointer-events: none;
}

.ProTrackUI_panelInner {
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.ProTrackUI_panelInner>* {
    padding: 0.25rem;
}

.ProTrackUI_flex {
    display: flex;
    flex: 1;
}

.ProTrackUI_flexRow {
    display: flex;
    flex: 1;
    align-items: center;
}

.ProTrackUI_minRow {
    display: flex;
    flex: 0;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.ProTrackUI_flexRow>* {
    flex: 1;
    flex-basis: 0%;
    min-width: 0;
}

.ProTrackUI_distributeRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    overflow: auto;
}

.ProTrackUI_innerGap {
    display: flex;
}

.ProTrackUI_innerGap>* {
    margin-right: 0.25rem;
}

.ProTrackUI_innerGap>*:last-child {
    margin-right: 0;
}

.ProTrackUI_overlay.hide {
    display: none;
}

.ProTrackUI_icon {
    filter: invert(1);
    height: 1.75rem;
    width: 1.75rem;
}

.ProTrackUI_metricsRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
}