.ProTrackUI_metricDataRow {
    justify-content: space-between;
    background-color: rgba(var(--whiteColor-triplet), 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.5rem;
    min-height: 2rem;
    border-radius: 0.5rem;
}

.ProTrackUI_metriProTrackUI_metricDataRowcRow .DataRow_icon {
    margin-right: auto;
}

.ProTrackUI_metricDataRow .DataRow_value {
    margin-left: auto;
}