.ProTrackUI_root {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    pointer-events: none;
}

.ProTrackUI_overlay {
    width:auto;
    min-width: fit-content;
    height: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--whiteColor);
    display:flex;
    justify-content:center;
    padding: 0.5rem;
    border-radius: 1rem;
    pointer-events:auto;
}


.ProTrackUI_overlay.hide {
    display:none;
}
